body {
	background-image: url(../images/johnny.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.jumbotron {
	opacity: .7;
	margin-top: 15%;
	text-align: center;
}
#timerBox {
	opacity: .8;
	background: white;
	text-align: center;
}

#questionBox {
	margin-top: 15%;
	text-align: center;
	opacity: .8;
}